<div class="container">
  <h2 class="display-5 mt-5">New Book</h2>

  <form action="/books" method="POST">
    <%- include('_form_fields') %>
    <a href="/books" class="btn btn-secondary mb-5">Cancel</a>
    <button type="submit" class="btn btn-success ms-1 mb-5">Create</button>
  </form>
</div>