<h4 class="display-5">Recently Added</h4>

<div>
    <% books.forEach(book => { %>
      <a href="/books/<%= book.id %>">
        <img height="150" width="100" src="<%= book.coverImagePath %>">
      </a>
    <% }) %>
</div>