<div class="container">
  <h2 class="display-5 mt-5">Edit Author</h2>

  <form class="d-flex" action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a href="/authors/<%= author.id %>" class="btn btn-secondary mt-4">Cancel</a>
    <button type="submit" class="btn btn-success ms-1 mt-4">Update</button>
  </form>
</div>